.MainPageBakery {
  background: black;
  padding: 2rem 0;
  min-height: calc(100vh - var(--navbar-height));
  padding-bottom: 3rem;
  margin-top: -1rem;
}

.text{
  margin-bottom: 4rem;
  margin-top:1rem;
}