.AuthorizationForm {
  margin-top: 2rem;
  background: var(--background-main);
  border: 1px solid #000;
  max-width: 450px;
  padding: 2rem;
  width: 100%;
  border-radius: var(--form-radius);
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.btn{
  //margin: 1rem auto;
  max-width: 300px;
  width: 100%;
}

.btnCont{
  margin: 0 auto;
}

.title{
  margin-bottom:2rem;
}

.text{
  display: flex;
  align-items: center;
  gap:1rem;
}

.textLink{
  text-decoration: underline;
}

.links{
  display: flex;
  align-items: center;
  gap:.3rem;
}