.CardWithPin {
  background-color: #fff;
  padding: 4rem;
  position: relative;
  border-radius: 40px;
}

.pin{
  position: absolute;
  top: -1.8rem;
  left: -1.3rem;
}

.pinPain{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media(max-width: 576px){
  .CardWithPin {
    padding: 2rem;
  }
}