.BunDetails {
  display: flex;
  gap:3rem;
  max-width: 1200px;
  width: 100%;
}

.mockImg{
  height: 450px;
  max-width: 650px;
  width: 100%;
  background: #c7c7c7;
  border-radius: 16px;
}

.img{
  height: 450px;
  max-width: 650px;
  width: 100%;
  border-radius: 16px;
}

.flexCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1.5rem;

}

.title{
  margin-bottom: 1.5rem;
}

.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1rem;
}

.flex{
  display: flex;
  align-items: center;
  gap:2rem;
}

.Price{
  display: flex;
  align-items: center;
  gap:1rem;
}

.item{
  background: #fff;
  padding:1rem;
  width:120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.5rem;
  border:1px solid #c7c7c7 ;
}

.Buy{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap:2rem;
}

.btn{
  padding: .7rem 1.5rem;
  display: flex;
  justify-content: center;
  width: 300px;
}

@media(max-width: 768px){
  .BunDetails {
    flex-direction: column;
    gap:2rem;
  }

  .mockImg{
    height: 300px;
  }

  .img{
    height: 300px;
  }

  .flex{
    flex-wrap: wrap;
    gap:1rem;
  }

  .flexCol{
    gap:1rem;
  }

  .title{
    margin-bottom: .7rem;
  }

  .Buy{
    margin-top: 2rem;
    flex-direction: column;
    gap:1rem;
    align-items: start;
  }

  .item{
    padding:.5rem;
    width:110px;
  }
}