.OrderGoods {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.btn{
  padding: .6rem;
  width: 150px;
  margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: end;
  gap:.7rem;
  align-items: center;
}

.item{
  width: 90%;
}

.card{
  background: var(--background-main);
  border-radius: 16px;
  padding:2rem;
}

.flexCol{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.inputImg{
  max-height: 200px;
  height: 200px;
  width: 200px;
}

.btnForm{
  padding: .6rem;
  margin: 0 auto;
  display: block;
  margin-top: 1.5rem;

}

.block{
  margin-top: 2rem;
}

.inp{
  width:65px;
}

@media(max-width:576px){

  .flex{
    //flex-direction: column;
    //justify-content: start;
  }

}